h1, h2, h3, h4, h5, h6, ul, header, body, footer {
	font-family: sans-serif;
}

header {
	margin: 0;
	width: auto;
	padding: 2em;
	text-align: center;
	background: #fff;
	box-shadow: 0 1em 0.5em #ccc;
}

body {
	background: linear-gradient(#efe, #fff);

	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

main {
	background: #cfc;
	padding: 4em;
	margin: 4em;
	border-radius: 1em;
}

footer {
	text-align: center;
	font-style: italic;
}
