<div class="bg-slate-100 p-6 shadow-md">
  <h1 class="text-3xl text-center font-bold">Error 400</h1>
  <h2 class="text-xl text-center">Invalid request</h2>
  <p class="text-center">Your browser might not be functioning correctly.</p>
</div>
