<div class="bg-slate-100 p-6 shadow-md">
  <h1 class="text-3xl text-center font-bold">Error 401</h1>
  <h2 class="text-2xl text-center">Unauthorized</h2>
  <p class="text-center">You probably need to be logged in. Additionally, you might need to be logged in as the post author when deleting/editing posts.</p>
</div>
