<div class="bg-slate-100 p-6 shadow-md">
  <h1 class="text-3xl text-center font-bold">Error 410</h1>
  <h2 class="text-2xl text-center">Gone</h2>
  <p class="text-center">This post (or webpage) was deleted.</p>
</div>
