<div class="bg-slate-100 p-6 shadow-md">
  <h1 class="text-3xl text-center font-bold">Error 500</h1>
  <h2 class="text-2xl text-center">Internal server error</h2>
  <p class="text-center">Try waiting a few minutes before trying again. If that doesn't work, try contacting the webmaster.</p>
</div>
