<.flash_group flash={@flash} />
<.container max_width="xl">
  <.card>
    <.card_content category="Home" heading="Enhance your Phoenix development">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget leo interdum, feugiat ligula eu, facilisis massa. Nunc sollicitudin massa a elit laoreet.
    </.card_content>
  </.card>
</.container>
