<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/res/style.css">
    <title>Exfwghtblog by Chlorophytus</title>
  </head>
  <body>
    <header>
      Chlorophytus Blog
    </header>
    <main>
      <%= main %>
      <%= if not is_nil(date), do: "<i>Posted #{date}</i>" %>
    </main>
    <footer>
      Exfwghtblog v<%= Application.spec(:exfwghtblog, :vsn) %> - <a href="https://github.com/Chlorophytus/exfwghtblog">Fork me on github!</a>
    </footer>
  </body>
</html>
